$primary-50: #ecfcfd;
$primary-75: #dafafa;
$primary-100: #c7f7f8;
$primary-150: #b4f5f5;
$primary-200: #a2f2f3;
$primary-250: #8feff1;
$primary-300: #7cedee;
$primary-350: #69eaec;
$primary-400: #57e8e9;
$primary-500: #44e5e7;
$primary-600: #3dced0;
$primary-700-gradient: linear-gradient(to right, #36b7b9, #44e5e7);
$primary-800: #30a0a2;
$primary-900: #29898b;
$primary-1000: #227374;
$primary-1100: #1b5c5c;
$primary-1200: #144545;
$primary-1300: #0e2e2e;
$primary-1400: #071717;
$primary-1500: #061212;
$primary-1300-1500-Gradient: linear-gradient(to right, #061212, #0e2e2e);
$cover-gradient: linear-gradient(to right, #44e5e7, #44e79e);
