@use "responsive" as *;
@use "colors" as *;
@use "typography" as *;
@use "placeholders" as *;
@use "reset" as *;

// Global styles
::selection {
	background-color: $primary-1300;
	color: $primary-50;
}

::-moz-selection {
	background-color: $primary-1300;
	color: $primary-50;
}

body {
	// styles
	width: 100%;
	height: 100%;
	font-family: $font-family-primary;
	@include typography(text-base);
	color: $primary-50;
	background-color: $primary-1500;

	// breakpoints
	@include tablet {
		@include typography(text-lg);
	}
}

// CLASSES --> Buttons
// .button {
// 	// extension
// 	@extend %ctaButton;

// 	&--primary {
// 		background-color: $primary-500;
// 		color: $primary-1300;
// 		box-shadow: 0 0 25px 0 rgba(68, 229, 231, 0.3);

// 		// States
// 		&:hover,
// 		&:focus {
// 			background-color: $primary-600;
// 			color: $primary-1200;
// 			box-shadow: 0 0 15px 0 rgba(68, 229, 231, 0.1);
// 		}
// 	}

// 	&--secondary {
// 		background-color: transparent;
// 		color: $primary-50;
// 		border: 0.2rem solid $primary-50;

// 		// States
// 		&:hover,
// 		&:focus {
// 			border-color: $primary-500;
// 			background-color: $primary-500;
// 			color: $primary-1300;
// 		}
// 	}
// }
