@use "responsive" as *;
@use "colors" as *;
@use "typography" as *;

// CSS Reset
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	// extension
	@extend %container;

	// styles
	width: 100%;
	height: 100%;
	font-family: $font-family-primary;
	@include typography(text-base);
	color: $primary-50;
	background-color: $primary-1500;

	// breakpoints
	@include tablet {
		@include typography(text-lg);
	}
}

// EXTEND CLASSES

// EXTEND CLASSES --> containers
%container {
	padding: 0 1rem;
	margin: 0 auto;

	// breakpoints
	@include tablet {
		padding: 0 2.25rem;
	}
	@include desktop {
		width: 1280px;
	}
}

// EXTEND CLASSES --> labels and buttons
%labelsAndButtons {
	font-family: $font-family-primary;
	@include typography(text-base);

	// breakpoints
	@include tablet {
		@include typography(text-lg);
	}
}

// EXTEND CLASSES --> CTA button style

%ctaButton {
	// extension
	@extend %labelsAndButtons;

	// styles
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $primary-500;
	color: $primary-1300;
	border: none;
	padding: 0.5rem 1.5rem;
	text-wrap: nowrap;
	border-radius: 28rem;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	text-decoration: none;

	// States
	&:hover,
	&:focus {
		transform: scale(0.97);
		outline: none;
	}
	&:active {
		transform: scale(0.94);
	}
	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
		pointer-events: none;
	}
}

// CLASSES --> Buttons

.button {
	// extension
	@extend %ctaButton;

	&--primary {
		background-color: $primary-500;
		color: $primary-1300;
		box-shadow: 0 0 25px 0 rgba(68, 229, 231, 0.3);

		// States
		&:hover,
		&:focus {
			background-color: $primary-600;
			color: $primary-1200;
			box-shadow: 0 0 15px 0 rgba(68, 229, 231, 0.1);
		}
	}

	&--secondary {
		background-color: transparent;
		color: $primary-50;
		border: 0.15rem solid $primary-50;

		// States
		&:hover,
		&:focus {
			border-color: $primary-500;
			background-color: $primary-500;
			color: $primary-1300;
		}
	}
}

// CLASSES --> Header and Footer

.header {
	height: 4rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2.5rem 0rem 15.5rem 0rem;

	&__logo-link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}

	&__logo {
		transition: all 0.3s ease-in-out;

		// States
		&:hover,
		&:focus {
			transform: scale(1.08);
			opacity: 0.8;
		}
	}

	&__navigation {
		width: 100%;
		display: none;

		// breakpoints
		@include laptop {
			display: block;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		list-style: none;
		@include typography(text-lg);
	}

	&__item {
		&--selected {
			font-weight: $font-weight-semibold;
		}
	}

	&__link {
		color: $primary-50;
		text-decoration: none;
		transition: color 0.3s ease-in-out;

		// States
		&:hover {
			color: $primary-300;
		}
	}

	&__buttons {
		display: none;

		// breakpoints
		@include laptop {
			display: flex;
			gap: 1rem;
		}
	}

	&__hamburger-menu {
		display: block;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		// States
		&:active {
			transform: scale(0.95);
		}

		// breakpoints
		@include laptop {
			display: none;
		}
	}
}
