@use "../partials/typography" as *;
@use "../partials/_colors" as *;
@use "../partials/_responsive" as *;
@use "../partials/mixins" as *;

// Container base styles
%container {
	padding: 0 1rem;
	margin: 0 auto;

	// breakpoints
	@include tablet {
		padding: 0 2.25rem;
	}
	@include desktop {
		width: 1280px;
	}
}

// Base button styles
%button-base {
	border-radius: 28rem;
	width: fit-content;
	cursor: pointer;
	user-select: none;
	border: none;
	text-wrap: nowrap;
	text-decoration: none;
	@include inline-flex(row, center, center, nowrap, 0.5rem);

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}

// Base icon styles
%button-icon {
	flex-shrink: 0;
	width: 1.25em;
	height: 1.25em;
	@include inline-flex(row, center, center, nowrap);

	i {
		font-size: 1.25rem;
	}
}

// Base chip styles
%chip-base {
	border-radius: 99rem;
	padding: 0.5rem 1rem;
	cursor: default;
	user-select: none;
	text-decoration: none;
	@include inline-flex(row, center, center, nowrap, 0.25rem);
	@include typography(text-xs);

	@include laptop {
		@include typography(text-base);
	}

	i {
		font-size: 1.25rem;
	}
}
