@use "../partials/typography" as *;
@use "../partials/_colors" as *;
@use "../partials/_responsive" as *;
@use "../partials/_global" as *;
@use "../partials/mixins" as *;

.header {
	height: 4rem;
	margin: 2.5rem 0rem 5.5rem 0rem;

	&__container {
		@extend %container;
		@include flex(row, center, space-between, 2rem);
	}

	&__logo-link {
		@include flex(row, center);
	}

	&__logo {
		// States
		@include hover-effect(
			(
				transform: scale(1.05),
				filter: opacity(0.8),
			)
		);
	}

	&__navigation {
		flex: 1 1 auto;

		// breakpoints
		@include laptop {
			display: block;
		}
	}

	&__list {
		gap: 2rem;
		list-style: none;
		@include flex(row, center, center);
		@include typography(text-lg);
	}

	&__item {
		&--selected {
			font-weight: $font-weight-semibold;
		}
	}

	&__link {
		color: $primary-50;
		text-decoration: none;

		// States
		@include hover-effect(
			(
				color: $primary-300,
			)
		);
	}

	&__buttons {
		display: none;

		// breakpoints
		@include laptop {
			margin-left: auto;
			flex: 0 0 auto;
			@include flex($gap: 1.5rem);
		}
	}

	&__hamburger-menu {
		display: block;
		cursor: pointer;
		width: 2rem;
		height: 2rem;
		@include inline-flex(row, center, center, nowrap);

		// States
		@include hover-effect(
			(
				transform: scale(0.95),
				filter: opacity(0.8),
			)
		);

		// breakpoints
		@include laptop {
			display: none;
		}
	}
}
