@use "../partials/global" as *;
@use "../partials/typography" as *;
@use "../partials/colors" as *;
@use "../partials/responsive" as *;
@use "../partials/mixins" as *;

// components
@use "../components/header" as *;
@use "../components/footer" as *;
@use "../components/button" as *;
@use "../components/chip" as *;

.hero {
	width: 100%;
	@include gradient-bg(to top, $primary-1300, $primary-1500);

	&__container {
		@extend %container;
	}

	&__content {
		@include flex(column, center, center, wrap);

		// breakpoints
		@include laptop {
			@include flex(row, space-between, center, wrap);
		}
	}

	&__content-left {
		@include flex(column, start, start, wrap, 1.5rem);

		// breakpoints
		@include laptop {
			width: 60%;
		}
	}
	&__title {
		color: $primary-50;
		@include responsive-typography(text-3xl, text-6xl);
	}

	&__subtitle {
		color: $primary-100;
		@include responsive-typography(text-base, text-xl);
	}

	&__image {
		max-width: 100%;

		// breakpoints
		@include laptop {
			min-width: 30%;
			max-width: 40%;
		}
	}

	@include tablet {
		padding: 4rem 1rem;
	}
}

.trusted-avatars {
	width: 100%;
	margin-top: 5rem;
	@include flex($direction: column, $gap: 1rem);

	&__images {
		@include flex(row, start, center, nowrap, 0.5rem);
	}

	&__image {
		position: relative;
		width: 2.75rem;
		height: 2.75rem;
		border-radius: 50%;
		border: 2px solid $primary-100;
		object-fit: cover;

		// Selectors
		&:not(:first-child) {
			margin-left: -1.5rem;
		}

		// States
		@include hover-effect(
			(
				transform: scale(1.2),
				bg: $primary-1300,
				filter: grayscale(0.5),
			)
		);

		&:hover {
			&:first-child {
				margin-right: 1.75rem;
			}
			&:not(:first-child) {
				margin-left: 0.25rem;
				margin-right: 1.75rem;
			}
		}
	}

	&__text {
		@include typography(text-xl);
		color: $primary-100;
	}

	&__count {
		color: $primary-500;
		font-weight: 700;
	}
	// breakpoints
	@include laptop {
		@include flex(row, center, start);
	}
}

.companies {
	width: 100%;
	@include gradient-bg(to bottom, $primary-1300, $primary-1500);
	padding: 2rem 1rem;
	margin-bottom: 10rem;

	&__container {
		@extend %container;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}

	&__header {
		color: $primary-50;
		text-align: center;
		margin-top: 4rem;
		@include responsive-typography(text-lg, text-xl);
	}

	&__highlight {
		font-weight: 700;
	}

	&__logos {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 4rem 0rem;
		justify-items: center;

		// breakpoints
		@include tablet {
			grid-template-columns: repeat(2, 1fr);
			gap: 3rem 3rem;
		}

		@include laptop {
			grid-template-columns: repeat(4, 1fr);
			gap: 4rem 4rem;
		}
	}

	&__logos-row {
		width: 100%;
		@include flex(column, center, center, nowrap, 2rem);

		// breakpoints
		@include tablet {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 3rem;
		}
	}

	&__logo-link {
		text-decoration: none;
		@include flex(row, center, center, nowrap);
	}

	&__logo {
		width: 100%;
		max-width: 10rem;
		height: auto;
		object-fit: contain;

		// States
		@include hover-effect(
			(
				transform: scale(1.05),
				filter: brightness(1.2),
			)
		);
	}
}

.features {
	width: 100%;
	overflow: hidden;
	position: relative;

	&__container {
		@extend %container;
	}

	&__header {
		width: 100%;
		margin: 8rem 0;
		color: $primary-100;
		text-align: center;
		@include responsive-typography(text-3xl, text-6xl);
	}

	&__highlight {
		position: relative;
		font-weight: 700;
		color: $primary-500;
		text-shadow: 0 0 25px #44e4e730;
		transition: all 0.3s ease-in-out;

		// Selectors
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 0%;
			height: 4px;
			background-color: $primary-500;
			transition: width 0.3s ease-in-out;
		}

		// States
		&:hover {
			color: $primary-300;

			// Selectors
			&::after {
				width: 100%;
				background-color: $primary-300;
			}
		}
	}

	&__content {
		margin-bottom: 8rem;
		@include flex(column, start, center, nowrap, 6rem);

		// breakpoints
		@include laptop {
			align-items: center;
			gap: 4rem;
		}
	}

	&__item {
		width: 100%;
		@include flex(column, start, start, nowrap, 2rem);

		// breakpoints
		@include laptop {
			align-items: center;
			justify-content: space-between;

			&--left {
				flex-direction: row-reverse;
			}
			&--right {
				flex-direction: row;
			}
		}
	}

	&__image {
		width: 50%;

		// States
		@include hover-effect(
			(
				transform: scale(1.05) translateY(-10px),
				filter: grayscale(0.5),
			)
		);

		// breakpoints
		@include laptop {
			min-width: 30%;
			max-width: 40%;
		}
	}

	&__description {
		width: 100%;
		@include flex(column, start, center, nowrap, 2rem);

		// breakpoints
		@include laptop {
			width: 50%;
		}
	}

	&__title {
		color: $primary-50;
		@include responsive-typography(text-3xl, text-5xl);
	}

	&__text {
		color: $primary-100;
		@include responsive-typography(text-lg, text-xl);
	}

	&__decorator {
		position: absolute;
		z-index: -1;
		width: 62.5rem;
		height: 62.5rem;
		border-radius: 50%;
		background-color: #14454550;
		top: 20%;
		right: -60%;
		filter: blur(300px);
	}
}

.faq {
	width: 100%;
	@include gradient-bg(to bottom, $primary-1500, $primary-1300);

	&__container {
		@extend %container;
	}
	&__header {
		color: $primary-50;
		margin-bottom: 2rem;
		@include responsive-typography(text-3xl, text-6xl);

		// breakpoints
		@include laptop {
			text-align: center;
		}
	}

	&__subtitle {
		display: none;
		@include responsive-typography(text-lg, text-xl);

		// breakpoints
		@include laptop {
			display: block;
			text-align: center;
			color: $primary-100;
			margin-bottom: 2rem;
		}
	}

	&__link {
		color: $primary-100;

		// States
		@include hover-effect(
			(
				color: $primary-500,
			)
		);
	}

	&__filter-buttons {
		margin-bottom: 3rem;
		@include flex(row, center, center, wrap, 1rem);

		// breakpoints
		@include laptop {
			gap: 2rem;
		}
	}

	&__items {
		@include flex(column, start, stretch, nowrap, 1.5rem);

		// breakpoints
		@include tablet {
			padding: 0 4rem;
		}
		@include laptop {
			padding: 0 10rem;
		}
	}

	&__item {
		width: 100%;
		background-color: transparent;
		border-radius: 1rem;
		margin-bottom: 1rem;
		padding: 0.5rem 0.5rem;
		cursor: pointer;

		// States
		@include hover-effect(
			(
				shadow: rgba(255, 255, 255, 0.02),
				bg: rgba(255, 255, 255, 0.05),
			)
		);

		// breakpoints
		@include tablet {
			padding: 1rem 1rem;
		}
		@include laptop {
			padding: 1.25rem 1.25rem;
		}
	}

	&__summary {
		@include flex(row, center, center, nowrap, 1.5rem);
	}

	&__summary-icon-wrapper {
		padding: 0.75rem;
		border-radius: 0.75rem;
		border: 2px solid $primary-50;
		@include flex(row, center, center);
	}

	&__summary-icon {
		width: 1.5rem;
		aspect-ratio: 1 / 1;
	}

	&__summary-title {
		color: $primary-50;
		@include responsive-typography(text-lg, text-xl);
	}

	&__summary-arrow {
		margin-left: auto;
		width: 3rem;
		aspect-ratio: 1 / 1;
	}

	&__text {
		color: $primary-100;
		margin: 0.75rem 0rem 0rem 0rem;
		@include responsive-typography(text-base, text-lg);

		// breakpoints
		@include laptop {
			margin: 0.75rem 0rem 0rem 5.5rem;
			padding-right: 7rem;
		}
	}
}

.testimonials {
	width: 100%;
	@include gradient-bg(to bottom, $primary-1300, $primary-1500);

	&__container {
		@extend %container;
		@include flex(column, center, center, nowrap, 4rem);
	}

	&__chip {
		margin-top: 12rem;
	}

	&__header-wrapper {
		text-align: center;
		@include flex(column, center, center, nowrap, 2rem);
	}

	&__header {
		color: $primary-50;
		@include responsive-typography(text-6xl, text-3xl);
	}

	&__subheader {
		color: $primary-100;
		margin-bottom: 2rem;
		@include responsive-typography(text-lg, text-xl);
	}

	&__wrapper {
		column-count: 1;
		column-gap: 2rem;

		// breakpoints
		@include tablet {
			column-count: 2;
		}

		@include desktop {
			column-count: 3;
		}

		// Hide last 3 testimonials on mobile (below tablet breakpoint)
		@include responsive-max($tablet-breakpoint) {
			.testimonial:nth-last-child(-n + 3) {
				display: none;
			}
		}
	}
}

.testimonial {
	display: inline-block;
	width: 100%;
	break-inside: avoid;
	margin-bottom: 2rem;
	padding: 2.5rem 2rem;
	background-color: $primary-1300;
	border-radius: 1rem;

	// States
	@include hover-effect(
		(
			bg: $primary-1200,
		)
	);

	&__ratings-wrapper {
		margin-bottom: 2.5rem;
		@include flex(row, center, start, nowrap, 0.5rem);
	}

	&__rating-icon {
		width: 1.5rem;
		height: 1.5rem;

		// States
		@include hover-effect(
			(
				filter: brightness(1.4),
			)
		);
	}

	&__footer {
		@include flex(row, center, start, wrap, 1.5rem);
	}

	&__text {
		margin-bottom: 4rem;
		color: $primary-50;
		display: -webkit-box;
		-webkit-line-clamp: 8;
		line-clamp: 8;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		@include responsive-typography(text-base, text-lg);
	}

	&__avatar {
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 50%;
		object-fit: cover;

		// States
		@include hover-effect(
			(
				transform: scale(1.05),
				filter: brightness(1.2),
				shadow: $primary-1300,
			)
		);
	}

	&__author {
		@include flex(column, start, center);
	}

	&__author-name {
		font-size: 1.125rem;
		font-weight: 700;
		letter-spacing: 0em;
		line-height: 2rem;
		color: $primary-300;

		// breakpoints
		@include laptop {
			font-size: 1.25rem;
			font-weight: 700;
			letter-spacing: -0.025em;
			line-height: 1.75rem;
		}
	}

	&__designation {
		@include typography(text-sm);
		color: $primary-75;

		// breakpoints
		@include laptop {
			font-size: 1rem;
			font-weight: 400;
			letter-spacing: -0.025em;
			line-height: 2rem;
		}
	}
}
